*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
}

.contenedor{
 
    width: 100%;
    height: 450px;
    overflow: hidden;
    
}
.parallax{
    background-image: url("../imgs/pablo1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 450px;
    
}
/*modo particulas*/
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
header{
    width: 100%;
    height: 200px;
    background-color: #130f40;
    color:#ecf0f1;
    text-align: center;
    padding-top: 50px;
}
.header_contacto{
    width: 100%;
    height: 100px;
    background-color: #130f40;
    color:#ecf0f1;
    text-align: center;
    padding-top: 20px;

}
.botones{

    float: right;
    margin-right: 50px;
}
.platos-entrada{
    padding-top: 80px;
}
.card-inicio{
    padding-top: 50px;
}
.titulos_carta{
    padding-bottom: 20px;
    padding-top: 10px;
}
footer.pie{
    width: 100%;
    height: 300px;
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 190px;

}

.social{
    padding-top: 1800px;
}
.social-btns .btn,.social-btns .btn .fa,.social-btns .btn:before{transition:all .35s;transition-timing-function:cubic-bezier(0.31,-.105,.43,1.59)}
.social-btns .btn:before{top:90%;left:-110%}
.social-btns .btn .fa{-webkit-transform:scale(0.8);transform:scale(0.8)}
.social-btns .btn.facebook:before{background-color:#3b5998}
.social-btns .btn.facebook .fa{color:#3b5998}
.social-btns .btn.twitter:before{background-color:#3cf}
.social-btns .btn.twitter .fa{color:#3cf}
.social-btns .btn.youtube:before{background-color:red}
.social-btns .btn.youtube .fa{color:red}
.social-btns .btn.instagram:before{background-color:#c13584}
.social-btns .btn.instagram .fa{color:#c13584}
.social-btns .btn:focus:before,.social-btns .btn:hover:before{top:-10%;left:-10%}
.social-btns .btn:focus .fa,.social-btns .btn:hover .fa{color:#fff;-webkit-transform:scale(1);transform:scale(1)}
.social-btns{height:90px;margin:auto;font-size:0;text-align:center;position:absolute;top:0;bottom:0;left:0;right:0}
.social-btns .btn{display:inline-block;background-color:#fff;width:90px;height:90px;line-height:90px;margin:0 10px;text-align:center;position:relative;overflow:hidden;border-radius:28%;box-shadow:0 5px 15px -5px rgba(0,0,0,.1);opacity:.99}
.social-btns .btn:before{content:'';width:120%;height:120%;position:absolute;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.social-btns .btn .fa{font-size:38px;vertical-align:middle}

/*nosotros */
 .advantages {
    background: url(../images/services.jpg)no-repeat;
    min-height: 350px;
    background-size: cover;
}
.advantage-block {
    padding:2em 2em;
    background: rgba(0, 0, 0, 0.52);
    text-align: center;
}
.advantage-block:hover {
    background: rgba(255, 255, 255, 0.22);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.advantage-block h4 {
    font-size: 1.5em;
    color: #fff;
    margin: 0.5em 0em 0.5em 0em;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.advantage-block p {
    font-size: 16px;
    color: #FFF;
    /* line-height: 1.8em; */
    text-align: left;
    padding-left: 3em;
    line-height: 35px;
	letter-spacing: .8px;
}
.advantage-grid {
    padding: 0;
}
.left-w3ls {
    border-right: 1px solid #b1b1b1;
}
.advantage-block .fa-credit-card,.advantage-block .fa-clock-o {
    color: #ffce14;
    font-size: 45px;
    margin-bottom: 10px;
}
.advantage-block p i {
    color: #ffce14;
    font-size: 13px;
    margin-right: 10px;
}
/*-- contactos y el mapa --*/

section.contact-w3ls {
	background:url(../imgs/contact.jpg) no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
}
/*positiciones de los ventanas div*/
#div1{
    float: left;
}


#div2{
    float: right;
}
/**/
section.contact-w3ls p.contact-agile1 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
    padding-bottom: 10px;
    line-height: 29px;
    color: #fff;
}
section.contact-w3ls p.contact-agile1 strong {
    font-family: 'Federo', sans-serif;
    letter-spacing: 1.5px;
    color: #ffce14!important;
	font-size: 16px;
}
section.contact-w3ls p.contact-agile1 a {
	color:#fff;
}
section.contact-w3ls .contact-agileits,.contact-w3-agile1 {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px 35px;
}
section.contact-w3ls h4 {
	font-size:35px;
	letter-spacing: 1.5px;
	font-weight:normal;
	color:#fff;
	padding-bottom:20px;
	font-family: 'Federo', sans-serif;
	text-align:center;
}
section.contact-w3ls p.contact-agile2 {
	font-size:16px;
	font-weight:normal;
	padding-bottom:20px;
	line-height:30px;
	color:#ffce14;
	text-align:center;
}
section.contact-w3ls label.contact-p1 {
    font-size: 17px;
	letter-spacing: 1px;
    font-weight: 300;
    color:#fff;
    padding-bottom: 10px;
	font-family: 'Federo', sans-serif;
}
.form-group {
    margin-bottom: 5px;
}
section.contact-w3ls p.help-block {
    color:#ff0500!important;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone  {
	height:37px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	background-color:transparent;
	border-radius:0;
	border-color:#fff;
	font-family: 'Lato', sans-serif;
}
section.contact-w3ls button.btn.btn-primary {
	color:#ffce14;
    background-color:transparent;
    border: 2px solid #ffce14;
    font-size: 17px;
    padding: 10px 20px;	
	width:100%;
	font-family: 'Federo', sans-serif;
	margin: 25px 0 8px;
}
section.contact-w3ls button.btn.btn-primary:hover {
	color: #fff;
    background-color:#ffce14;
    border: 2px solid #ffce14;
}
input::-webkit-input-placeholder {
color: #fff !important;
} 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
} 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
} 
input:-ms-input-placeholder {  
color: #fff !important;  
}
.footer-icons-agileinfo{
	margin-left:0!important;
}
.contact-w3-agile1 iframe {
    width: 100%;
    height: 190px;
    margin-top: 1.5em;
    outline: none;
    border: none;
}
/*--//services-section--*/
/*-- team --*/
.advantages {
    background: url(../imgs/services.jpg)no-repeat;
    min-height: 350px;
    background-size: cover;
}
.advantage-block {
    padding:2em 2em;
    background: rgba(0, 0, 0, 0.52);
    text-align: center;
}
.advantage-block:hover {
    background: rgba(255, 255, 255, 0.22);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.advantage-block h4 {
    font-size: 1.5em;
    color: #fff;
    margin: 0.5em 0em 0.5em 0em;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.advantage-block p {
    font-size: 16px;
    color: #FFF;
    /* line-height: 1.8em; */
    text-align: left;
    padding-left: 3em;
    line-height: 35px;
	letter-spacing: .8px;
}
.advantage-grid {
    padding: 0;
}
.left-w3ls {
    border-right: 1px solid #b1b1b1;
}
.advantage-block .fa-credit-card,.advantage-block .fa-clock-o {
    color: #ffce14;
    font-size: 45px;
    margin-bottom: 10px;
}
.advantage-block p i {
    color: #ffce14;
    font-size: 13px;
    margin-right: 10px;
}
/*--copy-right--*/
.copy {
    text-align: center;
    background: #0f2453;
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1em;
}
.copy p a {
    color: #ffce14;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}